<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. At lectus urna duis convallis convallis. Feugiat nisl pretium fusce id velit. Eu volutpat odio facilisis mauris sit. Convallis a cras semper auctor neque vitae tempus quam. </p>

<%- include("footer") -%>
